<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oneplus.camera.overlay"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.oneplus.camera" android:priority="1" android:isStatic="true" />

    <application android:label="OnePlusCameraOverlay" android:hasCode="false"/>
</manifest>